streamlit>=1.32.0
langchain>=0.1.17
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai
youtube-transcript-api
sentence-transformers
faiss-cpu
requests[socks]
requests
langdetect 
deep-translator
pinecone
langchain-pinecone



